
		body{
			background-color: #FFFFFF;
			margin-left: 10%;
			margin-right: 10%;
			border: 10px solid green;
			padding: 10px 10px 10px 10px;
			font-family: comic sans ms, cursive, sans-serif;
		}
		
		

